.section {
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center;
}

#slide_login {
    background-image: url("/src/image/slide_login.png");
}
#slide_about {
    background-image: url("/src/image/slide_about.jpg");
}
#slide_observation {
    background-image: url("/src/image/slide_observe.jpg");
}
#slide_seminar {
    background-image: url("/src/image/slide_seminar.jpg");
}
#slide_exhibition {
    background-image: url("/src/image/slide_exhibition.jpg");
}
#slide_etc {
    background-image: url("/src/image/slide_etc.jpg");
}
#slide_contact {
    background-color: #303030;
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
}

#header{
    position:fixed;
    height: 100px;
    display:block;
    width: 100%;
    z-index:9;
    text-align:left;
    padding: 20px;
}

#header{
    top:0px;
}

#more{
    position:absolute;
    bottom:0%;
    left: 50%;
    transform: translateX(-45%);
}