#section0 {
    background-image: url("/src/img/s0_bg.png");
    background-size:     cover;
    background-repeat:   no-repeat;
}
#section1 {
    background-image: url("/src/img/s1_bg.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
}