#slide_login {
    background-image: url("/src/image/s0_bg.png");
    background-size:     cover;
    background-repeat:   no-repeat;
}
#slide_about {
    background-image: url("/src/image/s1_bg.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
}